<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial de Descarte Correto de Vidro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" id="tut">
        <h1>Tutorial de Descarte Correto de Vidro</h1>
        
        <p>O vidro é 100% reciclável e pode ser reciclado infinitamente sem perder qualidade. No entanto, para garantir que o vidro seja reciclado corretamente, é importante seguir as orientações abaixo:</p>
        
        <h2>Passo 1: Lavar os Recipientes</h2>
        <p>Antes de descartar qualquer vidro, como garrafas ou frascos, é importante lavá-los para remover resíduos de alimentos ou bebidas. Isso ajuda a manter o processo de reciclagem limpo e eficiente.</p>
        <img src="/static/images/lavar_vidro.jfif" alt="Lavar vidro" class="tutorial-image">
        
        <h2>Passo 2: Remover Tampas e Rolhas</h2>
        <p>Retire as tampas e rolhas de plástico ou metal. Elas não podem ser recicladas com o vidro, por isso devem ser descartadas separadamente. Se as tampas forem de vidro, elas podem ser recicladas junto com o vidro.</p>
        <img src="/static/images/remover_tampa.jfif" alt="Remover tampa" class="tutorial-image">
        
        <h2>Passo 3: Verificar o Tipo de Vidro</h2>
        <p>Existem diferentes tipos de vidro, e nem todos podem ser reciclados da mesma forma. Verifique sempre as informações na coleta seletiva local. Geralmente, o vidro de embalagens (garrafas, frascos, potes) é aceito para reciclagem.</p>
        <img src="/static/images/tipo_vidro.jfif" alt="Tipos de vidro" class="tutorial-image">
        
        <h2>Passo 4: Descartar no Local Certo</h2>
        <p>Coloque o vidro nos pontos de coleta seletiva corretamente identificados para reciclagem de vidro. Não misture vidro com outros tipos de lixo, como papel ou plásticos, pois isso pode dificultar a reciclagem.</p>
        <img src="/static/images/descarte_vidro.jfif" alt="Descarte correto do vidro" class="tutorial-image"><br>
        
        <a href="/dashboard" class="button-link-back">Voltar ao Dashboard</a>
        
    </div>
</body>
</html>
